.flex-container {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    align-items: flex-start;
    background-color: bisque;
    flex-direction: row;
}

h1,h2 {
    text-align: center;
    flex-basis:100%;

}

.images {
    display: flex;
    min-width: 800px
}

img {
    background-color: black;
    min-width:0%;
    width: 100%;
}



.content {
    flex-basis:33.33%;
}

@media only screen and (max-width:1280px) {
    body {
        color:red;
    }
}